.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  width: 90vw;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
	color: #ddd;
}

a {
	font-weight: 600;
}

a, .fake-link {
	color: inherit;
	text-decoration: underline;
	animation: animateRainbowUnderline 10s linear infinite;
}

.no-margin {
	margin: 0;
}

/* Styling ordered list markers.
 * Courtesy of:
 * https://www.joshwcomeau.com/css/styling-ordered-lists-with-css-counters/
 */
ol li {
  counter-increment: muffins
}
ol li:before {
  content: counter(muffins) ". ";
  color: #666;
}
ol {
  list-style: none;
  counter-reset: muffins;
}

#header-top {
	font-size: 5rem;
	font-weight: 500;
	margin: 0;
	margin-bottom: 4rem;
}

.header-second {
	font-size: 2.5rem;
	line-height: 2;
	margin: 0;
	margin-bottom: 4rem;
}

/* modified from https://dev.to/gmeben/*/
/* TODO: browser compatibility? */
.rainbow-text {
  animation: animateSinan 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 1100% 1000%;
  height: 100vh;
  width: 100vw;
}
@keyframes animateSinan {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

@keyframes animateRainbowUnderline {
	0% {text-decoration-color: #cf5c5c}
	10% {text-decoration-color: #c19b4a}
	20% {text-decoration-color: #def2a0}
	30% {text-decoration-color: #c6ee4a}
	40% {text-decoration-color: #42eca6}
	50% {text-decoration-color: #64b3d9}
	60% {text-decoration-color: #208ea2}
	70% {text-decoration-color: #498ada}
	80% {text-decoration-color: #5b73df}
	90% {text-decoration-color: #897ed3}
	100% {text-decoration-color: #cf5c5c}
}

.hidden-text{
	color: #666;
	font-size: 4rem;
}
