h1 {
	font-size: calc(20px + 4vmin);
	font-weight: 600;
	margin: 0;
}

h2 {
	font-size: calc(16px + 3vmin);
	font-weight: 600;
	margin: 0;
}

.Portfolio {
  min-height: 100vh;
  padding-left: 5vw;
  margin-bottom: 1rem;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.Portfolio-landing {
  font-size: max(1em, calc(12px + 2.5vmin));
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a.rainbow-link{
	font-weight: 500;
	color: inherit;
	text-decoration: underline;
	animation: animateRainbowUnderline 10s linear infinite;
}

.no-margin {
	margin: 0;
}

.skill {
	font-weight: bold;
}

.resume-item{
	border-left: white 3px solid;
	animation: animateRainbowBorderColor 10s linear infinite;
	display: inline-block;
	margin: 0;
	padding-left: 0.5rem;
	margin-bottom: 2.4rem;
}


.resume-item > p {
	line-height: 1.2;
	margin: 0;

}

.hidden-text{
	color: rgb(158, 158, 158);
	font-weight: 400;
}

.horizontal-right{
	display: flex;
	justify-content: right;
}
